<article class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <section class="inner cover">
    <h1 class="cover-heading text-center">List of Countries of our Personal</h1>
    <p class="lead">Below you can see all the available Countries of our Personal:</p>
  </section>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Country</th>
    <th scope="col">Area</th>
    <th scope="col">Population</th>
  </tr>
  </thead>

  <tbody>

  <tr *ngFor="let country of countries; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' +
      country.flag" class="mr-2" style="width: 20px">
      {{ country.name }}
    </td>
    <td>{{ country.area | number }}</td>
    <td>{{ country.population | number }}</td>
  </tr>

  </tbody>
</table>

</article>
