<section class="col p-4 d-flex flex-column position-static">
  <strong class="d-inline-block mb-2 text-primary">User: {{index}}</strong>
  <h3 class="mb-0">{{user.first_name}} {{user.last_name}}</h3>
  <span class="mb-1 text-muted">{{user.email}}</span>
  <p class="card-text mb-auto">This is a description that every user will have and it is just a placeholder
    information.</p>
</section>

<section class="col-2 p-2">
  <img src="{{user.avatar}}" alt="user avatar" class="img-thumbnail h-100 w-100">
</section>

