<h3>Information Company</h3>
<hr>
<div style="margin-bottom: 1em">
  <button type="button"
          pButton
          icon="pi pi-chevron-up"
          style="margin-right:.25em"
          (click)="openPrev()"></button>
  <button type="button"
          pButton
          icon="pi pi-chevron-down"
          (click)="openNext()"></button>
</div>

<p-accordion [activeIndex]="index">
  <p-accordionTab header="Full Name Company">
    Apple, Inc.
  </p-accordionTab>
  <p-accordionTab header="Address">
    San Francisco, California.
  </p-accordionTab>
  <p-accordionTab header="Phone">
    448-759233
  </p-accordionTab>
  <p-accordionTab header="Information">
    Apple, Inc. es una empresa estadounidense que diseña y produce equipos electrónicos,
    software y servicios en línea. Tiene su sede central en el Apple Park,
    en Cupertino (California, Estados Unidos) y la sede europea en la ciudad de Cork (Irlanda).
    Sus productos de hardware incluyen el teléfono inteligente iPhone, la tableta iPad, el ordenador personal Mac,
    el reproductor de medios portátil iPod, el reloj inteligente Apple Watch y el reproductor de medios digitales Apple TV.
    Entre el software de Apple se encuentran los sistemas operativos iOS, macOS, watchOS y tvOS,
    el explorador de contenido multimedia iTunes, la suite iWork (software de productividad),
    Final Cut Pro X (una suite de edición de vídeo profesional),
    Logic Pro (software para edición de audio en pistas de audio),
    Xsan (software para el intercambio de datos entre servidores) y el navegador web Safari.
  </p-accordionTab>
</p-accordion>

<br/>

<h3>Team 1</h3>
<p-card header="Steven Paul Jobs"
        subheader="Fue cofundador y presidente ejecutivo de Apple Inc."
        [style]="{width: '360px'}"
        styleClass="ui-card-shadow">
  <p-header>
    <img src="assets/images/card-image.jpg" alt="Card">
  </p-header>

  <div>
    Nacimiento	24 de febrero de 1955
    Bandera de Estados Unidos San Francisco, California, Estados Unidos
    Fallecimiento	5 de octubre de 2011 (56 años)
    Bandera de Estados Unidos Palo Alto, California, Estados Unidos
  </div>
   <br/>
    <p-footer>
    <button pButton
            type="button"
            label="Save"
            icon="pi pi-check"
            style="margin-right: .25em"></button>

    <button pButton
            type="button"
            label="Cancel"
            icon="pi pi-times"
            class="ui-button-secondary"></button>

  </p-footer>
  </p-card>

<hr>

<h3>Team 2</h3>
<p-card header="Steven Wozniak"
        subheader="Fue cofundador de Apple Inc."
        [style]="{width: '360px'}"
        styleClass="ui-card-shadow">
  <p-header>
    <img src="assets/images/card-image2.jpg" alt="Card">
  </p-header>

  <div>
    También conocido como "Woz", es un ingeniero, filántropo, empresario e inventor estadounidense,
    cofundador de la compañía Apple.
    Se le considera uno de los padres de la revolución de las computadoras,
    habiendo contribuido significativamente a la invención de una computadora personal (PC, personal computer)
    en los años 1970.
  </div>
  <br/>
  <p-footer>
    <button pButton
            type="button"
            label="Save"
            icon="pi pi-check"
            style="margin-right: .25em"></button>

    <button pButton
            type="button"
            label="Cancel"
            icon="pi pi-times"
            class="ui-button-secondary"></button>

  </p-footer>
</p-card>
